.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: orange;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.inputs_layout {
    display: flex;
    flex-direction: column;
}

.delete {
    background-color: red;
}


